@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: hsl(210, 10%, 33%);
}

h1,
h2,
h3 {
    font-weight: 600;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:
        linear-gradient(rgba(71, 66, 66, 0.2), rgb(255, 255, 255)),
        url("images/bg-header-desktop.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    max-height: 500px;
}

.header p {
    max-width: 650px;
    text-align: center;
}


#main-logo {
    width: auto;
    height: 100px;
    margin: 30px;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 12px;
    border: none;
    color: #ffffff;
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 12px;
}

button:active {
    border: none;
}

button:hover {
    text-shadow: 0 0 7px #ffffff;
}

.IOS-DL-BUTTON {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsla(172, 70%, 22%, 0.534);
}

.MAC-DL-BUTTON {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 3px solid hsla(233, 67%, 34%, 0.562);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}