@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    color: hsl(210, 10%, 33%);
}

h1,
h2,
h3 {
    font-weight: 600;
    margin: 0;
}

p {
    max-width: 650px;
    text-align: center;
    margin-top: 10px;
    color: hsl(212, 7%, 55%);
    line-height: 1.5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:
        linear-gradient(rgba(71, 66, 66, 0.2), rgb(255, 255, 255)),
        url("images/bg-header-desktop.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 50px;
}

#main-logo {
    width: auto;
    height: 100px;
    margin: 30px;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 12px;
    border: none;
    color: #ffffff;
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 12px;
    font-weight: 600;
    width: 160px;
}

button:active {
    border: none;
}

button:hover {
    text-shadow: 0 0 7px #ffffff;
}

.IOS-DL-BUTTON {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsla(172, 70%, 22%, 0.534);
}

.MAC-DL-BUTTON {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 3px solid hsla(233, 67%, 34%, 0.562);
}

.core-features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.core-feature-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
    text-align: flex-start;
    margin: 50px;
}

.core-features-info {
    max-width: 450px;
    text-align: start;
}

.core-features-info p {
    max-width: 380px;
    text-align: start;
    margin-bottom: 50px;
}

.cross-platform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
}

#devices-image {
    margin: 50px;
}

.advanced-features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
}

.feature-image {
    height: auto;
    width: 50px;
    align-self: center;
    margin: 30px;
}

.trusted-by {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    margin: 50px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px;
}

footer {
    background-color: hsla(201, 13%, 78%, 0.39);
    width: 100%;
    height: 120px;
    align-items: center;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

#footer-logo {
    height: auto;
    width: 40px;
    justify-self: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    max-width: 420px;

}

a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}

a:hover {
    color: hsl(201, 11%, 66%);
}


.social-media-icons {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.social-media-icons img:hover {
    filter: brightness(2);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}